/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



:root {
    /* colors */
    --clr-prm-700: hsl(0, 100%, 74%) ;
    --clr-prm-500: hsl(154, 59%, 51%);

    --clr-acc-500: hsl(248, 32%, 49%);

    --clr-neut-300: hsl(249, 10%, 26%);
    --clr-nuet-800: hsl(246, 25%, 77%);
    --clr-nuet-900: #f2f2f2d5;
    --clr-white: #fff; 

    /* typography */
    --fs: 16px;
    --ff: 'Poppins', sans-serif;

    --fw-light: 400;
    --fw-normal: 500;
    --fw-bold: 600;
    --fw-bolder: 700;
}


/* css reset */

*, *::before, *::after { box-sizing: border-box;}     /* Use a more-intuitive box-sizing model. */

* {
    margin: 0;
    padding: 0;
}

/* html, 
body 
{ 
    height: 100%;
    width: 100%;
}   Allows percentage-based heights in the application */

img, 
picture, 
video, 
canvas, 
svg 
{
    /* Improve media defaults */
    display: block;
    max-width: 100%;
}

input, button, textarea, select { font: inherit;}      /* Remove built-in form typography styles */

p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word;}      /* Avoid text overflows */

a {
    text-decoration: inherit;
    color: inherit;
}


body {
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-normal);
    padding: 3rem;
    padding-top: 8rem;
    color: var(--clr-white);
    background-color: var(--clr-prm-700);
    background-image: url(../images/bg-intro-desktop.png);
}

.container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 0 3.5rem;
    height: 100%;
    gap: 2rem;
    position: relative;
}

.about-section{
    width: 90%;
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.trial-section {
    width: 100%;
}

.trial-card {
    background-color: var(--clr-acc-500);
    font-size: 12px;
    font-weight: var(--fw-light);
    text-align: center;
    letter-spacing: 0.5px;
    padding: 0.8rem 0;
    border-radius: 7px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 0px 0px hsla(249, 0%, 26%, 0.3) ;
}
.bold{
    font-weight: var(--fw-bold);
}

.trial-form {
    display: flex;
    background-color: var(--clr-white);
    border-radius: 7px;
    flex-direction: column;
    padding: 2rem;
    gap: .8rem;
}

.trial-form input {
    outline: none;
    border-radius: 3px;
    border: 1px solid var(--clr-nuet-800);
    font-family: var(--ff);
    font-size: 0.7rem;
    letter-spacing: 0.7px;
    width: 100%;
    padding: 0.7rem 0 0.7rem 1.5rem; 
}

.input-field input::placeholder {
    color: var(--clr-nuet-800);
}

.input-field input:focus {
    border-color: var(--clr-nuet-800);
}
.input-field {
    position: relative;
}

.icon-error {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 90%;
    display: none;
}

.alert {
    display: none;
    text-align: right;
    font-style: italic;
    font-weight: 500;
    font-size: 12px;
    line-height: 1rem;
    color: var(--clr-prm-700);
    padding-top: 0.6rem;
    margin-right: 10px;
}

/* .block {
    display: block !important;
} */

.errorInput {
    border-color: var(--clr-prm-700);
}

.btn {
    background-color: var(--clr-prm-500);
    color: var(--clr-white);
    font-family: var(--ff);
    font-weight: var(--fw-bold);
    font-size: 12px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    height: 40px;
    border: 1px solid hsl(154, 59%, 38%);
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px hsl(154, 59%, 30%);
}

.terms {
    color: var(--clr-nuet-800);
    font-size: 10px;
    text-align: center;
}

.red-text {
    color: var(--clr-prm-700);
    font-weight: var(--fw-bold);
}

.red-text:hover,
.btn:hover
.footer a:hover{
    cursor: pointer;
}

.footer {
    font-size: 12px;
    margin-top: 8rem;
    text-align: center;
}

.footer a:hover, .btn:hover {
    cursor: pointer;
}

.footer a:hover {
    color: var(--clr-prm-500);
}

@media screen and (max-width: 760px) {

    body {
        padding: 3rem 0;
    }

    .title {
        margin-top: 1rem;
        font-size: 1.7rem;
        text-align: center;
    }

    .about-section {
        text-align: center;
    }

    .container {
        flex-direction: column;
        margin: 1.25rem;
    }

    .trial-card {
        padding: 1.25rem 2.5rem;
        font-size: 1rem;
    }

    .input-field input {
        padding: 1.25rem;
    }

    .btn {
        height: auto;
        padding: 1.5rem;
    }

    .footer {
        margin-top: 3rem;
    }
}

